<main class="p-8 bg-indigo-900 lg:h-[110vh] lg:flex lg:items-center">
    <section class="grid gap-4 md:grid-cols-2">
        <div class="flex flex-col justify-center">
            <span class="border border-white/30 p-2 text-white rounded-md w-60 text-center" >Business Empowerment</span>
            <h1 class="text-4xl text-white font-bold mt-5 lg:text-5xl">Grow Your Business with</h1>
            <h1 class="text-4xl text-white font-bold mt-5 lg:text-5xl"><span>EnstechWeb</span> <span class="bg-yellow-500 ml-3 p-2 shadow-md text-indigo-900 font-bold">Templates</span></h1>
            <p class="mt-5 text-xl text-white">Our templates are easy to customize and to integrate with your dev environment, Go and check all available templates</p>
            <a class="inline-block mt-8 p-3 bg-blue-500 text-white rounded-md w-32 text-center">Get Started</a>
        </div>

        <div class="flex justify-center">
            <div class="relative mt-7 ">
                <div class="block h-[20rem] w-[14rem] lg:h-[28rem] lg:w-[22rem] rounded-md bg-gray-500 overflow-hidden object-contain">
                    <img src="https://i.pinimg.com/564x/e1/2b/f8/e12bf84648b725a9c6d3b7d00d09a4f5.jpg" width="400" alt="">

                </div>
                <div class="absolute block bg-white h-40 w-24 top-4 shadow-xl rounded-md overflow-hidden object-contain -right-10">
                    <img src="https://i.pinimg.com/236x/02/2e/a0/022ea09690d1200769b105a6eebab4f2.jpg" alt="">
                </div>
                <div class="absolute block bg-blue-500 h-40 w-32 bottom-4 shadow-xl rounded-md overflow-hidden object-contain -right-16">
                    <img src="https://i.pinimg.com/236x/0f/ff/18/0fff18bf38d7732f75d751ecb642ef99.jpg" alt="">
                </div>
                <div class="absolute block bg-red-500 h-20 shadow-xl  rounded-md w-32 bottom-4 overflow-hidden object-contain -left-10">
                    <img src="https://i.pinimg.com/236x/ff/57/fc/ff57fc95ff3d558d10a6e8cf6318897e.jpg" width="400" alt="">
                </div>
            </div>
        </div>
    </section>
</main>
