<header class="bg-indigo-900 p-4 z-50 border-b border-white/30 text-white flex items-center justify-between duration-300">

    <div>
      <a routerLink="landing" class="uppercase font-bold text-xl">Startuper</a>
    </div>
    <nav class="absolute top-14 border-b duration-300 hidden bg-indigo-900 lg:bg-transparent p-4 lg:flex lg:justify-between lg:p-0 w-full left-0 z-10 lg:relative lg:top-0 lg:border-none">
      <ul class="flex flex-col items-center lg:flex-row lg:ml-10">
        <li><a class="mt-4 block lg:mt-0">Features</a></li>
        <li><a class="mt-4 block lg:mt-0 lg:ml-4">About us</a></li>
        <li><a class="mt-4 block lg:mt-0 lg:ml-4">Blogs</a></li>
        <li><a class="mt-4 block lg:mt-0 lg:ml-4">Integrations</a></li>
        <li><a class="mt-4 block lg:mt-0 lg:ml-4">Pricing</a></li>
        <li><a class="mt-4 block lg:mt-0 lg:ml-4">Contact us</a></li>
      </ul>
      <ul class="flex justify-center mt-8 lg:mt-0">
        <li><a class="p-3 bg-blue-500 w-full text-white rounded-md shadow-md block">Get Started</a></li>
      </ul>
    </nav>
    <button (click)="isButtonMenu()" class="lg:hidden relative">
      <div *ngIf="!btnMenuClicked" class="flex flex-col">
        <span [class]="btnMenu" ></span>
        <span [class]="btnMenu"></span>
        <span [class]="btnMenu"></span>
      </div>
      <div *ngIf="btnMenuClicked" class="">
        <div class="relative">
          <span class="absolute bg-white h-0.5 top-4 w-6 rotate-45"></span>
          <span class="inline-block bg-white h-0.5 w-6 -rotate-45"></span>
        </div>
      </div>
    </button>
</header>
<router-outlet></router-outlet>
